h1{
    font-family: 'Romanesco', cursive;
    text-align: center;
    font-size: 40;
    }

body {
    font-family: 'Romanesco', cursive;
    font-size: 38px;
    text-align: center;
    background-image: url(../src/imagens/fundo.jpg);
    background-size: cover;
    width: auto;
    height: auto;
    }

.resp{
    width: 25vw;
    height: 25vh;
    float:left;
    position: absolute;               
    top: 30%;                         
    transform: translate(98%, 140%);
    align-items: center;
    justify-content: center;
    border-style: outset;
    overflow: hidden;
    font-size: 30px;
    white-space: normal;
    margin: auto;
    }

.resp1{
    width: 25vw;
    height: 25vh;
    float:right;
    position: absolute;               
    top: 30%;                         
    transform: translate(200%, 140%);
    align-items: center;
    justify-content: center;
    border-style: outset;
    overflow: hidden;
    font-size: 30px;
    white-space: normal;
    margin: auto;
    }

#Msg{
    width: 500px;
    height: 30px;
    padding: 50px 50px 50px 50px;
    font: bold 30px 'Romanesco', cursive;
    white-space: normal;
    overflow: hidden;
    }

input[type="number"] {
    width: 95px;
    height: 30px;
    font: bold 20px 'Romanesco', cursive;
    text-align:center;	
    }

.imagem{
    background-image: url(../src/imagens/imperador.png);
    width: 220px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
    height: 401px;/* Faz a altura ficar igual a da altura da imagem de exemplo */    
    background-repeat: no-repeat;
    transform: translate(30%, -60%);
    margin: 0% 25% 25% 0%;
    }

.btn_cifra{
    font: 26px 'Romanesco', cursive;
    width:120px;  
    height:40px;
    overflow: hidden;
    background: transparent;
    }

.btn_decifra{
    font: 26px 'Romanesco', cursive;
    width:120px;  
    height:40px;
    overflow: hidden;
    background: transparent;
    }

footer {
    font-size: 25px;
    }